#collage hr{
    border:none;
    border-top:2px solid #6b0707;
    height:1px;
}

#collage #playPanel {
    background-color:#060b19d1;
    padding:10px 0px;
    margin: 10px auto;
    max-width:1000px;
    width:95%;
}

#collage #actualImageBox {
    display: inline-block;
    font-size:0.8em;
    margin: 10px 10px;
    vertical-align: top;
    width:480px;
}

#collage #stepBox, #collage #timeBox {
    display:inline-block;
    width:48%;
}

#collage #stepBox div {
    background-color:#c2defc;
    display:inline-block;
    padding:1px 4px;
    margin: 0px auto;
    max-width:800px;
}

#collage img#actualImage{
    border:2px solid rgb(38, 166, 154);
    height:480px;
    width:480px;
}

#collage #sortable {
    border:2px solid rgb(38, 166, 154);
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 404px;
    height: 404px;
}

    #collage #sortable li {
        background-size: 400% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        width: 100px;
        height: 100px;
    }

#collageE button  {
    background-color:#6b0707;
    border:1px solid rgb(38, 166, 154);
    display: inline;
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 3px 8px;
    color:white;
}

.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #2b2e2e;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}




input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: rgb(105, 87, 87) !important;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

h1 {
    color:white
}

h3 {
    color:white
}

#justinHeader{text-align:center;
    background-color:#403f3e21;
    font-family:cursive;}

#youTubeRequest{width:20%;
                color;}
#userRequest{width:20%;
             color:gold;}